network:
  version: 2
  ethernets:
    eth0:
      match:
        macaddress: {{ node.mac }}
      dhcp4: false
      addresses: {{ ip_addresses | to_json }}
      gateway4: {{ gateway }}
      nameservers:
        search: {{ nameservers.search | to_json }}
        addresses: {{ nameservers.addresses | to_json }}
